@model Clinica.Models.DetalleFac

@{
    ViewData["Title"] = "Detalle Factura";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>DetalleFac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumFacturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumFacturaNavigation.NumFactura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NumDetalle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
