@model IEnumerable<Clinica.Models.DetalleFac>

@{
    ViewData["Title"] = "Detalle Factura";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumFacturaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumFacturaNavigation.NumFactura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumDetalle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumDetalle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumDetalle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
