@model Clinica.Models.Signos

@{
    ViewData["Title"] = "Signos";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Signos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pulso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pulso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionArt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionArt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecCardiaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecCardiaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecRespiratoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecRespiratoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultaNavigation.IdConsulta)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEnfermeraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEnfermeraNavigation.IdEnfermera)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMedicion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
