@model IEnumerable<Clinica.Models.Signos>

@{
    ViewData["Title"] = "Signos";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pulso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecCardiaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecRespiratoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdConsultaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEnfermeraNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pulso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecCardiaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecRespiratoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConsultaNavigation.IdConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEnfermeraNavigation.IdEnfermera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMedicion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMedicion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMedicion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
