@model IEnumerable<Clinica.Models.Factura>

@{
    ViewData["Title"] = "Factura";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Factura</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Facturar Expediente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de emisión
            </th>
            <th>
                Paciente
            </th>
            <!--
            <th>
                Operacion
            </th>
            -->
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdExpedienteNavigation.IdExpediente)
            </td>
            <!--
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumFactura" class="btn btn-dark">Edit</a>
                <a asp-action="Details" asp-route-id="@item.NumFactura" class="btn btn-dark">Details</a>
                <a asp-action="Delete" asp-route-id="@item.NumFactura" class="btn btn-dark">Delete</a>
            </td>
            -->
        </tr>
}
    </tbody>
</table>
</body>
</html>
