@model IEnumerable<Clinica.Models.Cita>

@{
    ViewData["Title"] = "Cita index";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-sm  table-bordered table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha de Finalización
            </th>
            <th>
                Paciente
            </th>
            <th>
                Operacion
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
            @{
                switch(item.Estado){
                    case "1": <text>Pendiente</text>; break;
                    case "2": <text>No Confirmada</text>; break;
                    case "3": <text>Confirmada</text>; break;
                    case "4": <text>En sala de Espera</text>; break;
                    case "5": <text>En Consulta</text>; break;
                    case "6": <text>Atendida</text>; break;
                    case "7": <text>Cancelada</text>; break;
                    default: break;
                }
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.IdPaciente)
            </td>
            <td>
                <a  class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdCita">Edit</a>
                <a  class="btn btn-warning" asp-action="Details" asp-route-id="@item.IdCita">Details</a>
                <a  class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCita">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
