@model Clinica.Models.Consulta

@{
    ViewData["Title"] = "Consulta";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeguroMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeguroMedico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolizaSeguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolizaSeguro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDoctorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDoctorNavigation.IdDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdExpedienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdExpedienteNavigation.IdExpediente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdConsulta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
