@model IEnumerable<Clinica.Models.Consulta>

@{
    ViewData["Title"] = "Consulta";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Consultas Médicas</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nueva</a>
</p>
<hr style="width:100%">
<table class="table table-sm table-condensed">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Seguro
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoCaja)
            </th>
            <th> Operacion</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @{

                    if( item.SeguroMedico == 1){
                        <text>Si</text>
                    }else{
                        <text>No</text>
                    }
                }
            </td>
             <!-- 
            <td>
              @Html.DisplayFor(modelItem => item.IdExpedienteNavigation.IdExpediente) 
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.MontoCaja)
            </td>
            <td class="btn-group flex-wrap">
                <a class="   btn btn-info btn-block regular-link " asp-action="Edit" asp-route-id="@item.IdConsulta">Edit</a>
                <a class="    btn btn-info btn-block regular-link btn-warning  " asp-action="Detalles" asp-route-id="@item.IdConsulta">Detalles Consulta</a>
                <a class="    btn btn-info btn-block regular-link btn-danger  " asp-action="Delete" asp-route-id="@item.IdConsulta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
