@model IEnumerable<Clinica.Models.Consulta>

@{
    ViewData["Title"] = "Consulta";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Consultas Médicas</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nueva</a>
</p>
<hr style="width:100%">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Detalle de la Cita<th>
            <th> Operacion</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <p>
                <strong>Asunto</strong>
                @Html.DisplayFor(modelItem => item.Asunto)
                </p>
                <p>
                <strong>Fecha</strong>
                @Html.DisplayFor(modelItem => item.Fecha)
                </p>
                <p>
                <strong>Seguro</strong>
                @{

                    if( item.SeguroMedico == 1){
                        <text>Si</text>
                    }else{
                        <text>No</text>
                    }
                }
                </p>

                <p>
                <strong>Monto</strong>
                @Html.DisplayFor(modelItem => item.MontoCaja)
                </p>
            </td>
           
            <td class="">
                <a class="   btn btn-info btn-block regular-link " asp-action="Edit" asp-route-id="@item.IdConsulta">Edit</a>
                <a class="    btn btn-info btn-block regular-link btn-warning  " asp-action="Detalles" asp-route-id="@item.IdConsulta">Detalles Consulta</a>
                <a class="    btn btn-info btn-block regular-link btn-danger  " asp-action="Delete" asp-route-id="@item.IdConsulta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
