@model Clinica.Models.Paciente

@{
    ViewData["Title"] = " DetallesPacientes";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoCasada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoCasada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEncargado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEncargado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEncargado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEncargado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdminNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdminNavigation.IdAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPaciente" class="btn btn-primary">Edit</a> 
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
</body>
</html>
