@model IEnumerable<Clinica.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Paciente</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo</a>
</p>
<table class="table table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
        <!-- nombre
            <th>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoCasada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
        -->
            <th>
                Informacion del Paciente
            </th>
            <th>Operación</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>
                    <strong>
                    Nombre Completo:
                    </strong>
                @Html.DisplayFor(modelItem => item.PrimerNombre) 
                @Html.DisplayFor(modelItem => item.SegundoNombre)
                @Html.DisplayFor(modelItem => item.PrimerApellido)
                @Html.DisplayFor(modelItem => item.SegundoApellido)
                @Html.DisplayFor(modelItem => item.ApellidoCasada)
                <p>

                <p>
                    <strong>
                    Fecha de Nacimiento:
                    </strong>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </p>

                <p>
                    <strong>CUI/ID:</strong>
                @Html.DisplayFor(modelItem => item.NoId)
                </p>
            
                <p>
                    <strong>Telefono:</strong>
                @Html.DisplayFor(modelItem => item.NumeroTel)
                </p>
            </td>
            
            <!-- 
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEncargado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEncargado)
            </td>
            -->
            
            <td>
                <a class=" btn btn-info btn-block regular-link " asp-action="Edit" asp-route-id="@item.IdPaciente">Edit</a>
                <a class="  btn btn-info btn-block regular-link btn-warning " asp-action="Details" asp-route-id="@item.IdPaciente">Details</a>
                <a  class="btn btn-info btn-block regular-link btn-danger" asp-action="Delete" asp-route-id="@item.IdPaciente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
